spring:
  application:
    name: notes-api

  datasource:
    url: jdbc:postgresql://localhost:5432/notesdb
    username: notes_user
    password: notes_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080
